{% extends 'midd.html.twig' %}

{% block content %}
  <nav>
    <table>
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">List</th>
          <th scope="col">Refresh</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Plugins</th>
          <td><a href="{{ path('list_plugins') }}">List Plugins</a></td>
          <td><a href="{{ path('refresh_plugins')}}">Refresh Plugins</a></td>
        </tr>
        <tr>
          <th scope="row">Themes</th>
          <td><a href="{{ path('list_themes') }}">List Themes</a></td>
          <td><a href="{{ path('refresh_themes') }}">Refresh Themes</a></td>
        </tr>
        <tr>
          <th scope="row">Sites</th>
          <td><a href="{{ path('list_sites') }}">List Sites</a></td>
          <td><a href="{{ path('refresh_sites') }}">Refresh Sites</a></td>
        </tr>
      </tbody>
    </table>
  </nav>
{% endblock %}
