{% extends 'midd.html.twig' %}

{% block breadcrumb %}
  <a href="/">Home</a> &raquo; <a href="{{ path('list_plugins') }}">Plugins</a> &raquo; {{ title }}
{% endblock %}

{% block content %}
  <p><a href="#sites">Sites</a> | <a href="#notes">Notes</a> | <a href="#add-note">Add Note</a></p>
  <dl>
    <dt>Author</dt>
    <dd>{{ plugin.author }}</dd>

    <dt>Installed Version</dt>
    <dd>{{ plugin.installedVersion }}</dd>

    <dt>Available Version</dt>
    <dd>{{ plugin.availableVersion }}</dd>

    <dt>Updated</dt>
    <dd>{{ plugin.updated|date('Y-m-d') }}</dd>

    <dt>Permissions</dt>
    <dd>All Users</dd>

    <dt>Number of Sites</dt>
    <dd>{{ random(3999) }}</dd>
  </dl>
  <h2><a name="sites">Sites</a></h2>
  <ul>
    <li><a href="http://sites.middlebury.edu/blog1">Blog 1</a></li>
    <li><a href="http://sites.middlebury.edu/blog2">Blog 2</a></li>
    <li><a href="http://sites.middlebury.edu/blog3">Blog 3</a></li>
    <li><a href="http://sites.middlebury.edu/blog4">Blog 4</a></li>
  </ul>
  <h2><a name="notes">Notes</a></h2>
  <ul>
    <li>Ian McBride ({{ 'now'|date('Y-m-d') }}): Probably the best thing in WordPress!</li>
    <li>Jon Maddix ({{ 'now'|date('Y-m-d') }}): Don't upgrade this. It will break.</li>
    <li>Steve Nelson ({{ 'now'|date('Y-m-d') }}): Not used any more.</li>
    <li>Melissa Floyd ({{ 'now'|date('Y-m-d') }}): Being used again.</li>
    <li>Adam Franco ({{ 'now'|date('Y-m-d') }}): I customized this to change its architecture.</li>
  </ul>
  <h2><a name="add-note">Add Note</a></h2>
  <form>
    <p>
      <label for="wordpress-audit-note-name">Plugin</label>
      <input id="wordpress-audit-note-name" size="50" type="text" disabled value="{{ plugin.name }}" />
    </p>

    <p>
      <label for="wordpress-audit-note-author">Author</label>
      <input id="wordpress-audit-note-author" size="50" type="text" disabled value="Current User" />
    </p>

    <p>
      <label for="wordpress-audit-note-date">Date</label>
      <input id="wordpress-audit-note-date" size="50" type="date" disabled value="{{ 'now'|date('Y-m-d')}}" />
    </p>

    <p>
      <label for="wordpress-audit-note-note">
      <textarea id="wordpress-audit-note-note" cols="50" rows="10"></textarea>
    </p>

    <p><input type="submit" value="Add Note" /></p>
  </form>
{% endblock %}
