{% extends 'midd.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('//cdn.middlebury.edu/common/DataTables-1.10.7/media/css/jquery.dataTables.css') }}">
{% endblock %}

{% block breadcrumb %}
  <a href="/">Home</a> &raquo; {{ title }}
{% endblock %}

{% block content %}
  <table id="wordpress-audit-plugins">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Installed Version</th>
        <th>Available Version</th>
        <th>Updated</th>
        <th>Permissions</th>
        <th>Number of Sites</th>
      </tr>
    </thead>
    <tbody>
      {% for plugin in plugins %}
        <tr>
          <td><a href="{{ path('show_plugin', {'pluginName': plugin.name }) }}">{{ plugin.name }}</a></td>
          <td>Michael Middlebury</td>
          <td>{{ plugin.installedVersion is not null ? plugin.installedVersion : '' }}</td>
          <td>{{ plugin.availableVersion is not null ? plugin.availableVersion : '' }}</td>
          <td>{{ plugin.updated|date('Y-m-d') }}</td>
          <td>All Users</td>
          <td>{{ random(3999) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('//cdn.middlebury.edu/common/DataTables-1.10.7/media/js/jquery.dataTables.js') }}"></script>
  <script>
    $(document).ready(function() {
      $('#wordpress-audit-plugins').DataTable({
        paginate: false,
      });
    });
  </script>
{% endblock %}
