{% extends 'midd.html.twig' %}

{% block breadcrumb %}
  <a href="/">Home</a> &raquo; <a href="{{ path('list_sites') }}">Sites</a> &raquo; {{ title }}
{% endblock %}

{% block content %}
  <p><a href="#sites">Plugins</a> | <a href="#notes">Notes</a> | <a href="#add-note">Add Note</a></p>
  <dl>
    <dt>Blog ID</dt>
    <dd>{{ site.blogId }}</dd>

    <dt>Domain</dt>
    <dd>{{ site.domain }}</dd>

    <dt>Path</dt>
    <dd>{{ site.path }}</dd>

    <dt>Theme</dt>
    <dd>Shadowbox</dd>

    <dt>Number of Plugins</dt>
    <dd>{{ site.plugins|length }}</dd>
  </dl>
  <h2><a name="sites">Plugins</a></h2>
  <ul>
    {% for plugin in site.plugins %}
      <li><a href="{{ path('show_plugin', {'pluginName': plugin.name }) }}">{{ plugin.name }}</a></li>
    {% endfor %}
  </ul>
  <h2><a name="notes">Notes</a></h2>
  <ul>
    <li>Ian McBride ({{ 'now'|date('Y-m-d') }}): Probably the best thing in WordPress!</li>
    <li>Jon Maddix ({{ 'now'|date('Y-m-d') }}): Don't upgrade this. It will break.</li>
    <li>Steve Nelson ({{ 'now'|date('Y-m-d') }}): Not used any more.</li>
    <li>Melissa Floyd ({{ 'now'|date('Y-m-d') }}): Being used again.</li>
    <li>Adam Franco ({{ 'now'|date('Y-m-d') }}): I customized this to change its architecture.</li>
  </ul>
  <h2><a name="add-note">Add Note</a></h2>
  <form>
    <p>
      <label for="wordpress-audit-note-name">Site</label>
      <input id="wordpress-audit-note-name" size="50" type="text" disabled value="{{ site.domain ~ site.path }}" />
    </p>

    <p>
      <label for="wordpress-audit-note-author">Author</label>
      <input id="wordpress-audit-note-author" size="50" type="text" disabled value="Current User" />
    </p>

    <p>
      <label for="wordpress-audit-note-date">Date</label>
      <input id="wordpress-audit-note-date" size="50" type="date" disabled value="{{ 'now'|date('Y-m-d')}}" />
    </p>

    <p>
      <label for="wordpress-audit-note-note">
      <textarea id="wordpress-audit-note-note" cols="50" rows="10"></textarea>
    </p>

    <p><input type="submit" value="Add Note" /></p>
  </form>
{% endblock %}
